include LICENSE jupyterlab_graph_lsp/install.json
recursive-include jupyterlab_graph_lsp/labextension *.*
recursive-include jupyterlab_graph_lsp/servers/static *.*
recursive-exclude jupyterlab_graph_lsp/servers/static *.map